#page-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: y mandatory;
}

#page-container > div {
  scroll-snap-align: start;
  min-width: 100%;
  min-height: 100%;
}

/* Below here is styling, not important for the actual example, just to make it look nice. No need to look down here! */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#carousel-1 {
  background-color: #e34747;
}

#carousel-2 {
  background-color: #5ab92c;
}

#carousel-3 {
  background-color: #226de2;
}
